:root {
  /* Tema baseado no Zorin OS 18 */
  --background-color: #1e1e1e; 
  
  --text-color: #e1e1e1;
  
  --link-color: #3584e4;
  
  --surface-color: #2d2d2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}